<mat-sidenav-container class="" style="background-color: white;">
  <mat-sidenav [(opened)]="opened" mode="side">
    <img class="imgLogo mt-3 ms-4 mb-2" src="assets/logo-04.png" alt="logo" />
    <hr class="w-75 ms-3" />
    <span class="ms-3" style="font-size: 10px; color: rgb(180, 179, 179)"
      >Quick access</span
    >
    <div class="quick d-flex flex-column ms-4">
      <a href="#"
        ><mat-icon>home</mat-icon><span class="ms-1">Dashboard</span></a
      >
      <a href="#"
        ><mat-icon>bar_chart</mat-icon><span class="ms-1">Statistics</span></a
      >
      <a href="#"
        ><mat-icon>group</mat-icon
        ><span class="ms-1">Customers</span></a
      >
      <a href="#"
        ><mat-icon>add_shopping_cart</mat-icon
        ><span class="ms-1">Orders</span></a
      >
      <a href="#"
        ><mat-icon>add_shopping_cart</mat-icon
        ><span class="ms-1">Products</span></a
      >
      <a href="#"
        ><mat-icon>store</mat-icon
        ><span class="ms-1">Retailers</span></a
      >
    </div>
    <hr class="w-75 ms-3" />
    <span class="ms-3" style="font-size: 10px; color: rgb(180, 179, 179)"
      >MY Account</span
    >
    <div class="quick d-flex flex-column ms-4">
      <a href="#"
        ><mat-icon>account_balance_wallet</mat-icon
        ><span class="ms-1">Wallet</span></a
      >
      <a href="#"
        ><mat-icon>person</mat-icon><span class="ms-1">Profile</span></a
      >
      <a href="#"
        ><mat-icon>calendar_today</mat-icon><span class="ms-1">Agenda</span></a
      >
    </div>
    <hr class="w-75 ms-3" />
    <div class="quick d-flex flex-column ms-4">
      <a href="#"
        ><mat-icon>forum</mat-icon><span class="ms-1">Community</span></a
      >
      <a href="#"><mat-icon>help</mat-icon><span class="ms-1">Q & A</span></a>
    </div>
    <hr class="w-75 ms-3" />
    <div class="quick d-flex flex-column ms-4">
      <a href="#">
        <mat-icon>exit_to_app</mat-icon>
        <span class="ms-1">Log Out</span>
      </a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
