<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
      <img class="imgLogo mt-3 ms-4 mb-2" src="assets/logo-04.png" alt="logo">
      <hr class="w-75 ms-3">
      <span class=" ms-3 " style="font-size: 10px; color: rgb(180, 179, 179);" >Quick access</span>
      <div class="quick d-flex flex-column ms-4">
        <a href="#">Dashboard</a>
        <a href="#">Orders</a>
        <a href="#">Statistics</a>
      </div>
      <hr class="w-75 ms-3">
      <span class=" ms-3 " style="font-size: 10px; color: rgb(180, 179, 179);" >MY Account</span>
      <div class="quick d-flex flex-column ms-4">
        <a href="#">Wallet</a>
        <a href="#">Profile</a>
        <a href="#">Agenda</a>
      </div>
      <hr class="w-75 ms-3">
      <div class="quick d-flex flex-column ms-4">
        <a href="#">community</a>
        <a href="#">Q & A</a>
      </div>
      <hr class="w-75 ms-3">
      <div class="quick d-flex flex-column ms-4">
        <a href="#">Log Out</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="text-danger">
      <mat-toolbar color="primary">
        <p class="mt-4 menu" (click)="opened=!opened"><mat-icon>menu</mat-icon></p>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>