<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="input-group w-auto col-md-10 col-sm-4 mt-5 mb-2">
        <span class="input-group-text me-2 rounded" id="basic-addon1">Email</span>

        <input
          type="email"
          class="form-control rounded"
          placeholder="Email for customer"
          aria-label="Example input"
          aria-describedby="button-addon1"
        />
        <button
          class="btn btn-success"
          type="button"
          id="button-addon1"
          data-mdb-ripple-color="dark"
        >
          search
        </button>
      </div>
    </div>
  </div>
  <div class="row table-responsive m-5">
    <div class="d-flex justify-content-center ">
      <table class="table table-hover border rounded-3">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Aya shehata</td>
            <td>ayaaaaaaaaaaaaaagmail.com</td>
            <td>mdo</td>
            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>

            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>

            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>

            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>

            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>

            <td>
              <button type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="1">Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>
              <button type="button" class="btn text-danger">
                <mat-icon><mat-icon>delete</mat-icon></mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="d-flex justify-content-center mb-5 mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
