<div class="container overflow-hidden">
  <div class="row">
    <div class="d-flex flex-column ms-5">
      <div class="input-group w-50 me-2 mt-5 mb-4">
        <span class="input-group-text me-2 rounded" id="basic-addon1"
          >categories</span
        >
        <input
          type="text"
          class="form-control rounded"
          placeholder="category for product"
          aria-label="Example input"
          aria-describedby="button-addon1"
          [(ngModel)]="productCat"

        />
        <button
          class="btn btn-success"
          type="button"
          id="button-addon1"
          data-mdb-ripple-color="dark"
          (click)="searchProductCat()"

        >
          search
        </button>
      </div>
      <div class="input-group w-50 col-md-10 col-sm-6 mt-2 mb-2">
        <span class="input-group-text me-2 rounded" id="basic-addon1">ID</span>
        <input
          type="number"
          class="form-control rounded"
          placeholder="Id for product"
          aria-label="Example input"
          aria-describedby="button-addon1"
          [(ngModel)]="productId"
        />
        <button
          class="btn btn-success"
          type="button"
          id="button-addon1"
          data-mdb-ripple-color="dark"
          (click)="searchProductId()"
        >
          search
        </button>
      </div>
    </div>
  </div>
  <div class="row table-responsive-md table-responsive-sm m-5">
    <div class="d-flex justify-content-center">
      <table class="table table-hover border rounded-3 w-100">
        <thead>
          <tr class="">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">stock</th>
            <th scope="col">quantity</th>
            <th scope="col">brand</th>
            <th scope="col">category</th>
            <th scope="col" class="">image</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of selectedProducts">
            <th scope="row">{{ prd.id }}</th>
            <td>{{ prd.titel }}</td>
            <td>{{ prd.stock }}</td>
            <td>{{ prd.quantity }}</td>
            <td>{{ prd.brand }}</td>
            <td>{{ prd.category }}</td>
            <td><img src="{{ prd.thumbnail }}" class="w-25 h-25 rounded" /></td>
            <td>
              <button (click)="deleteProduct(prd.id)" type="button" class="btn text-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination m-5 justify-content-center">
    <button class="btn border" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
      <mat-icon class="mt-2 ms-2">arrow_back_ios</mat-icon> 
    </button>
    <span class="m-3  p-2">{{ currentPage }}</span>
    <button class="btn border" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
       <mat-icon class="mt-2 ms-2 ">arrow_forward_ios</mat-icon>
    </button>
  </div>
  
