<div class="container" >
    <div class="row d-flex justify-content-evenly" >
        <div class=" carded col-md-2 col-sm-3 rounded" style="background-color:#DBB2D1;">
            <mat-icon class="mt-4 mb-2">group</mat-icon>
            <h5 class="b">Customers</h5>
            <p class="mb-2  h-100">{{customers.length}}</p><br>
          </div>
          <div class=" carded col-md-2 col-sm-3 rounded" style="background-color: #f89696;">
              <mat-icon class="mt-4 mb-2">dns</mat-icon>
              <h5 class="b">Orders</h5>
              <p class="mb-2  h-100">{{orders.length}}</p><br>
            </div>
            <div class=" carded col-md-2 col-sm-3 rounded" style="background-color:rgb(252, 159, 230);">
              <mat-icon class="mt-4 mb-2">shopping_cart</mat-icon>
              <h5 class="b">Products</h5>
              <p class="mb-2  h-100">{{products.length}}</p><br>
            </div>
            <div class=" carded col-md-2 col-sm-3 rounded" style="background-color:#f2d4ea;">
                <mat-icon class="mt-4 mb-2">store</mat-icon>
                <h5 class="b">Retailers</h5>
                <p class="mb-2  h-100">{{Retailers.length}}</p><br>
              </div>   
    </div>
</div>